* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-style: italic;
    font-family: 'Lato', sans-serif;
}

.bethany_specials {
    overflow: hidden;
}

.bethany_header {
    font-size: 2rem;
    font-weight: 300;
}

.bethany_logo {
    display: block;
    padding-top: 6px;
    padding-left: 6px;
 }

 .bethany_head {
    background-color: #9b87b8;
    color: #f0f0f0;
    display: flex;
}

#menu_icon_container {
    width: 100%;
    background-color: #23cfa7;
}

.menu_icon {
    width: 2rem;
    position: static;
}

.img_logo {
    width: 5rem;
    padding-bottom: 8px;
}

.active {
    background-color: rgba(0, 0, 0, 0.5);
}

.desktop_nav_link {
    display: none;
}

.main_h1 {
    color: #9b87b8;
    font-weight: normal;
    padding: 5px 0 1rem 8px;
}

.plain_blueberry {
    display: flex;
    margin-bottom: 1.5rem;
}

.plain_apple_pie, .blueberry, .strawberry_pie {
    width: 10.7rem;
}

.blueberry_header, .plain_header, .strawberry_header {
    color: #9b87b8;
}

.plain_container, .strawberry_container {
    margin-left: 8px;
}

.blueberry_container {
    margin-left: 14px;
}

#copyright_info {
    background-color: #9b87b8;
    padding-left: 8px;
    padding-top: 0.8rem;
    margin-top: 0.8rem;
}

.footer_list {
    padding: 2rem;
}

.logo_img {
    padding-top: 2rem;
    padding-bottom: 10px;
}

.copy {
    padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .menu_icon {
        display: none;
    }

    .desktop_nav_link {
        display: block;
        background-color: #23cfa7;
        height: fit-content;
        padding: 1rem 1rem 1rem 2.45rem;
    }

    .desktop_nav_link > a {
        color: white;
        padding: 1rem 1rem 1rem 2.45rem;
    }

    .desktop_nav_link > a:hover {
        background: rgba(0, 0, 0, 0.5);
    }  

    .img_logo {
        width: 7rem;
        padding: 0 8px 8px 1rem;
    }

    .bethany_logo {
        display: block;
        padding-top: 10px;
    }

    .bethany_header {
        font-weight: 300;
        font-size: 2.55rem; 
    }

    .main_h1 {
        margin-left: 1.5rem;
    }

    .main_p {
        font-size: 1.2rem;
    }

    .other_img {
        display: flex;
        padding-bottom: 6px;
        margin-left: 2rem;

    }

    .plain_apple_pie, .blueberry, .strawberry_pie {
        width: 14rem;
    }
    
    .plain_header, .strawberry_header {
        color: #9b87b8;
    }

    .blueberry_header, .blueberry_price, .plain_applepie_price, .strawberry_pie_price {
        font-size: 19.2px;
    }

    .blueberry_container {
        margin-left: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .strawberry_container {
        margin-left: 0;
    }

    .plain_container {
        margin-left: 0;
    } 

    .footer_header {
        padding-bottom: 1rem;
    }

    .location_info, .company_info, .social_info, .about_us_info {
        width: 50%;
    }

    #copyright_info{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        padding-left: 1rem;
    }
    
    .footer_list {
        line-height: 1.15rem;
    }
}

@media screen and (min-width: 1280px) {
    .main_h1 {
        margin: 0.5rem 0 0.1rem 2rem;
    }

    .desktop_nav_link {
        padding: 1rem 1rem 1rem 1.6rem;
    }

    .desktop_nav_link > a {
        padding: 1rem 1rem 1rem 1rem;
    }

    .img_logo {
        width: 8rem;
        padding: 0 8px 8px 1rem;
    }

    .other_img {
        padding-left: 1rem;
    }

    .plain_header, .blueberry_header, .strawberry_header, .plain_applepie_price, .blueberry_price, .strawberry_pie_price  {
        font-size: 19.2px;
    }

    .plain_apple_pie, .blueberry, .strawberry_pie {
        width: 16rem;
    }

    .blueberry_container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .footer_header {
        text-transform: uppercase;
    }

    .footer_list {
        line-height: 1.30rem;
    }

    .location_info, .company_info, .social_info, .about_us_info {
        width: 18rem;
    }

    #copyright_info {
        padding-left: 2rem;
    }
}

